<p>register-page works!</p>

<div class="register-container">
  <mat-card>
    <mat-card-title>Register</mat-card-title>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <!-- Name -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" type="email" required />
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('username')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </mat-error>
      </mat-form-field>

      <!-- Role -->
     
      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid || isSubmitting"
      >
        {{ isSubmitting ? 'Registering...' : 'Register' }}
      </button>
    </form>
  </mat-card>
</div>
